 <div id="title"><h4>Testimonials</h4></div>
<div class="box" >
	<div class="row">
		<div class="col-md-6">
			 <h2></h2>
			 <ul>
			 	<li> 
			 		<h4>Effective and Helpful Android Dev</h4>
			 		<p>Zenista helped me on an Android project I am working on. For a very reasonable price he did a lot of high quality work. Code was neat and effective. Messaging was fast and polite, and he was very helpful when questions were asked.</p>
			 		<p>I would highly recommend working with Zenista!</p>
			 		<br />
			 	</li>
			 	<li> 
			 		<h4>Did awesome professional coding work (C#)</h4>
			 		<p>I needed some non-trivial custom code written in C# to solve a problem i was having automating the submission of a specific windows form. I posted in /r/forhire. Less than 24 hours later the project was finished! And it works! I will be using zenista for future projects. Very happy with the results.</p>
			 		<br />
			 	</li>
			 	<li> 
			 		<h4>Excel Scripting Help - Fast, great communication and reliable.</h4>
			 		<p>I hired zenista for two projects involving Excel scripting. One job he did in under an hour! This guy is seriously awesome, he gets the job done fast. He is now my go-to Excel Scripting guy for sure. I highly recommend Zenista. </p>
			 		<br />
			 	</li>
			 	<li>
			 		for more testimonials visit: <a href="http://www.reddit.com/r/testimonials/search?q=zenista&restrict_sr=on">www.reddit.com/r/testimonials</a>
			 	</li>
			 </ul>
		</div>

		<div class="col-md-6">
			 <h2></h2>
			 <ul>
			 	<li> 
			 		<h4>Programming Wizard - Came through in the Clutch!</h4>
			 		<p>I hired zenista for a onetime java programming project and I am satisfied with the great work that he done. He was really efficient, clear, and didn't caused any frills.</p>
			 		<p>Despite my difficult requirements and short time constraints, he still managed to finished the project and the result was excellent. During the whole process he also assured me that he's going to be able to complete the task (which makes me much more calm because I was panic due to the nearing deadline).</p>
					<p>I don't know what other service zenista offers, but if you are looking to hire him, don't hesitate. I'm sure he will blow your project out of the park!</p>
					<br/>
			 	</li>
			 	<li> 
			 		<h4>Exactly what I needed lighting fast.</h4>
			 		<p>Needed some scanned jpegs of documents worked into Word for my roommate, job was done within a couple hours. A+ would recommend.</p>
			 		<br />
			 	</li>
			 	<li> 
			 		<h4>Excel Job.</h4>
			 		<p>zenista came through on a quick excel job, did excellent! Code is nice and tidy and solid, answers quickly to any questions I have.</p>
			 		<br />
			 	</li>
			 	<li>
			 		for more testimonials visit: <a href="http://www.reddit.com/r/testimonials/search?q=zenista&restrict_sr=on">www.reddit.com/r/testimonials</a>
			 	</li>
			 </ul>
		</div>
	</div>
</div>